@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Dashboard - Ace Admin</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    @Styles.Render("~/Content/bootstrap/css")
    <link href="~/Content/ace/css/font-awesome.min.css" rel="stylesheet" />
    @RenderSection("styleRef", required: false) <!-- 页面特定的样式 要放在ace样式前，不然页面样式受影响,例如jqGrid-->
    @Styles.Render("~/Content/ace/css") <!-- AceAdmin 样式 -->
    
    @RenderSection("styleIn", required: false)  <!--扩展样式-->
</head>

<body class="no-skin">
    <!-- 头部导航 -->
    @Html.Partial("Ace_Header")

    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>
        @Html.Partial("Ace_Menu")
        <div class="main-content">
            <!--面包屑导航条-->
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>
                    <li class="active">Dashboard</li>
                </ul>
                <!-- 搜索框 -->
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div>

            </div>
            <div class="page-content">
                <!-- 主题设置框 -->
                @Html.Partial("Ace_Theme")
                @RenderBody()
            </div>
        </div>
        <!--底部-->
        @Html.Partial("Ace_Footer")
        <!--回到顶部-->
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>
    @Scripts.Render("~/Content/Scripts/jquery") <!--jQuyer-->
    @Scripts.Render("~/Content/bootstrap/js")  <!--Bootstrap脚本 -->
    @RenderSection("JsRef", required: false) <!--扩展脚本-->
    @Scripts.Render("~/Content/ace/js")  <!--Ace脚本 -->
    @RenderSection("JsIn", required: false)   <!--扩展脚本-->
    <script src="~/Content/ace/ace-framework.js"></script>
</body>
</html>
