<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 2.3.1
Version: 1.1.2
Author: KeenThemes
Website: http://www.keenthemes.com/preview/?theme=metronic
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469
-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Metronic | Admin Dashboard Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/metronic/css/metro.css" rel="stylesheet" />
    <link href="~/Content/Scripts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/metronic/css/style.css" rel="stylesheet" />
    <link href="~/Content/metronic/css/style_responsive.css" rel="stylesheet" />
    <link href="~/Content/metronic/css/style_default.css" rel="stylesheet" id="style_color"  />

    <link href="~/Content/Scripts/uniform/css/uniform.default.css" rel="stylesheet" />
    @RenderSection("StyleRef", required: false)
    @RenderSection("StyleInline", required: false)
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse navbar-fixed-top">
        <!-- BEGIN TOP NAVIGATION BAR -->
         @Html.Partial("_Header")
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container row-fluid">
        <!-- BEGIN SIDEBAR -->
        @Html.Partial("_Menu")
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div id="portlet-config" class="modal hide">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"></button>
                    <h3>Widget Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here will be a configuration form</p>
                </div>
            </div>
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN STYLE CUSTOMIZER -->
                        @Html.Partial("_Theme")
                        <!-- END BEGIN STYLE CUSTOMIZER -->
                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                        <h3 class="page-title">
                            Dashboard
                            <small>statistics and more</small>
                        </h3>
                        <ul class="breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">Home</a>
                                <i class="icon-angle-right"></i>
                            </li>
                            <li><a href="#">Dashboard</a></li>
                            <li class="pull-right no-text-shadow">
                                <div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
                                    <i class="icon-calendar"></i>
                                    <span></span>
                                    <i class="icon-angle-down"></i>
                                </div>
                            </li>
                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                @RenderBody()
                
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="footer">
        @Html.Partial("_Footer")
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS -->
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <script src="~/Content/Scripts/jquery/jquery-1.8.3.min.js"></script>
    <!--[if lt IE 9]>
    <script src="assets/js/excanvas.js"></script>
    <script src="assets/js/respond.js"></script>
    <![endif]-->
    <!--公用类库-->
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <!--用于你的响应式设计简单地设计断点-->
    <script src="~/Content/Scripts/breakpoints/breakpoints.js"></script>
    <script src="~/Content/Scripts/jquery/jquery.blockui.js"></script>
    <script src="~/Content/Scripts/jquery/jquery.cookie.js"></script>
    <script src="~/Content/Scripts/uniform/jquery.uniform.js"></script>
   
    <!--页面所需JS库-->
    @RenderSection("JavascriptRef", required: false)
    <!--页面自定义js脚本-->
    @RenderSection("JavascriptInline", required: false)
    <!--轻量级的移动Web JavaScript UI 库-->
    <script src="~/Content/metronic/app.js"></script>
    <script src="~/Content/metronic/metro-framework.js"></script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
